# node modules
node_modules/

# scss/sass compile files
base.css
base_02.css
base_02_revealing-content.css
base_02_animated-button.css
base_03_scroll-effects.css
base_03_slide-in-banner.css
base_03_parallax-scrolling.css

base.css.map
base_02.css.map
base_02_revealing-content.css.map
base_02_animated-button.css.map
base_03_scroll-effects.css.map
base_03_slide-in-banner.css.map
base_03_parallax-scrolling.css.map
